<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="iconDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <fa name="{{ $ctrl.icon.faName }}" fw size="2"></fa>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="iconDropdown">
        <li ng-repeat="icon in $ctrl.icons">
            <a ng-click="$ctrl.choose(icon)">
                <fa name="{{ icon.faName }}" fw></fa>
                {{ icon.faName }}
            </a>
        </li>
    </ul>
</div>
