<loader-dots ng-if="!$ctrl.thermostat"></loader-dots>
<div ng-else loading-cover="$ctrl.changingPromise">
    <view-title>{{ $ctrl.thermostat.label }} - termostaty</view-title>
    <div ng-class="$ctrl.slug ? 'container-fluid' : 'container'">
        <div class="row thermostat-header">
            <div class="col-xs-12 text-center">
                <div class="form-group">
                    <label>Aktywny profil:</label>
                    <select class="form-control margin-bottom" ng-model="$ctrl.thermostat.activeProfile.id"
                            ng-disabled="$ctrl.changingPromise"
                            ng-change="$ctrl.updateActiveProfile()"
                            ng-options="profile.id as profile.name for profile in $ctrl.thermostat.profiles">
                        <option value="">Brak</option>
                    </select>
                    <span ng-if="!$ctrl.slug">
                        <label>Włącz / wyłącz termostat:</label>
                        <switch ng-model="$ctrl.thermostat.enabled" ng-change="$ctrl.toggleEnabled()"
                                ng-disabled="$ctrl.changingPromise"></switch>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div ng-class="$ctrl.thermostat.rooms.length > 4 ? 'flexible-grid' : 'row'">
                    <div ng-repeat="room in $ctrl.thermostat.rooms"
                         ng-class="$ctrl.thermostat.rooms.length > 4 ? '' : 'col-lg-3 col-md-4 col-sm-6'">
                        <div class="well thermostat-room-preview">
                            <h3 class="text-center">
                                {{ room.name }}
                            </h3>
                            <div class="temperature">
                                <span ng-if="$ctrl.thermostat.channels[room.thermometers[0]][$ctrl.thermostat.target] !== undefined">
                                    {{ $ctrl.thermostat.channels[room.thermometers[0]][$ctrl.thermostat.target] | number:1
                                    }}{{::$ctrl.thermostat|thermostatUnit}}
                                </span>
                                <span ng-else>?</span>
                                <span ng-if="$ctrl.thermostat.roomsState[room.id].action" class="arrow-container">
                                    <fa name="caret-{{ $ctrl.thermostat.roomsState[room.id].action == 'heating' ? 'up' : 'down' }}"
                                        class="arrow"
                                        ng-class="$ctrl.thermostat.roomsState[room.id].action == 'heating' ? 'heating' : 'cooling'"></fa>
                                </span>
                            </div>
                            <div class="targets text-center"
                                 ng-if="!$ctrl.thermostat.roomsState[room.id].action && !$ctrl.thermostat.roomsState[room.id].forcedAction">
                                <span ng-if="$ctrl.thermostat.activeProfile.roomsConfig[room.id].heatFrom"
                                      title="Automatycznie {{::$ctrl.thermostat|byThermostatTarget:'ogrzewa':'nawilża' }} od {{ $ctrl.thermostat.activeProfile.roomsConfig[room.id].heatFrom | number:1 }}{{:: $ctrl.thermostat|thermostatUnit }}">
                                    <fa name="caret-up" fw
                                        class="arrow heating"></fa>
                                    {{ $ctrl.thermostat.activeProfile.roomsConfig[room.id].heatFrom | number:1 }}{{::$ctrl.thermostat|thermostatUnit}}
                                </span>
                                <span ng-if="$ctrl.thermostat.activeProfile.roomsConfig[room.id].coolFrom"
                                      title="Automatycznie {{::$ctrl.thermostat|byThermostatTarget:'ochładza':'osusza'}} od {{ $ctrl.thermostat.activeProfile.roomsConfig[room.id].coolFrom | number:1 }}{{:: $ctrl.thermostat|thermostatUnit }}">
                                    <fa name="caret-down" fw
                                        class="arrow cooling"></fa>
                                    {{ $ctrl.thermostat.activeProfile.roomsConfig[room.id].coolFrom | number:1 }}{{::$ctrl.thermostat|thermostatUnit}}
                                </span>
                            </div>
                            <div class="target text-center" ng-if="$ctrl.thermostat.roomsState[room.id].target">
                                Cel: {{ $ctrl.thermostat.roomsState[room.id].target | number:1 }}{{::$ctrl.thermostat|thermostatUnit}}
                            </div>
                            <div class="target text-center" ng-if="$ctrl.thermostat.roomsState[room.id].forcedAction">
                                <div ng-if="$ctrl.thermostat.roomsState[room.id].forcedUntil | unixToDate | isInNearFuture">
                                    Manualnie ustalony stan wygaśnie za
                                    {{ $ctrl.thermostat.roomsState[room.id].forcedUntil | unixToDate | fromNow:true }}
                                </div>
                                <div>
                                    <a ng-click="$ctrl.clearRoomAction(room)">wróć do sterowania automatycznego</a>
                                </div>
                            </div>
                            <thermostat-manual-room-action-change
                                    thermostat="$ctrl.thermostat"
                                    room="room"
                                    room-state="$ctrl.thermostat.roomsState[room.id]"
                                    on-action-change="$ctrl.setRoomAction(room, action, time)"></thermostat-manual-room-action-change>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <thermostat-working-devices thermostat="$ctrl.thermostat"></thermostat-working-devices>
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="text-muted">Kolejna automatyczna zmiana profilu nastąpi po {{
                    $ctrl.thermostat.nextProfileChange |
                    date:'short' }}</p>
                <p class="text-muted" ng-hide="$ctrl.slug">
                    Ten widok dostępny jest bez logowania pod adresem {{ $ctrl.thermostat.slug | thermostatPreviewUrl }}
                </p>
            </div>
        </div>
    </div>
</div>
