<h2 class="no-margin-top">{{ $ctrl.notification.id ? 'Edytuj' : 'Dodaj' }} powiadomienie</h2>
<form name="notificationForm"
      novalidate
      promise-btn
      ng-submit="$broadcast('show-errors-check-validity') && notificationForm.$valid && $ctrl.submit()">

    <div class="form-group" show-errors>
        <label>Nazwa</label>
        <input type="text" class="form-control" name="label" required ng-model="$ctrl.notification.label">
    </div>

    <div class="form-group">
        <fa name="question-circle" class="pull-right pointer" ng-click="$ctrl.conditionHelp = !$ctrl.conditionHelp"></fa>
        <label>Warunek</label>
        <feedback-field ng-model="$ctrl.notification.condition"></feedback-field>
        <div class="help-block fx-fade-up" ng-if="$ctrl.conditionHelp">
            Warunek powiadomienia to stan kanału: jeśli coś jest włączone, jeśli coś jest zamknięte itp.
            Kilka warunków oddziel spacją.
            Użyj znaku <code>{</code> by wyświetlić dostępne podpowiedzi.
            <div>
                Przykładowe warunki:<br>
                <code ng-non-bindable>{{1|on|bool}} {{2|hi|bool}} {{3|on|bool:0,1}}</code>
            </div>
            oznaczają: wyświetl to powiadomienie, jeśli kanał 1 jest włączony, 2 jest zamknięty i 3 jest wyłączony.
            Po wypełnieniu wartości w tym polu otrzymasz aktualny wynik. <code>1</code> oznacza warunek spełniony, <code>0</code> - niespełniony.
        </div>
    </div>
    <div class="well fx-fade-up" ng-if="$ctrl.notification.condition">
        <feedback-interpolation feedback="$ctrl.notification.condition"></feedback-interpolation>
    </div>

    <div class="form-group" show-errors>
        <fa name="question-circle" class="pull-right pointer" ng-click="$ctrl.minConditionsHelp = !$ctrl.minConditionsHelp"></fa>
        <label>Minimalna liczba warunków do spełnienia</label>
        <input type="number" ng-model="$ctrl.notification.minConditions" required name="min-conditions" class="form-control" min="0">
        <div class="help-block fx-fade-up" ng-if="$ctrl.minConditionsHelp">
            Ile warunków z pola <em>Warunek</em> musi być spełnione by pokazać powiadomienie? Wartość <code>0</code> spowoduje pokazywanie
            powiadomienia za każdym razem przy sprawdzaniu stanu.
        </div>
    </div>

    <div class="form-group" show-errors>
        <fa name="question-circle" class="pull-right pointer" ng-click="$ctrl.intervalHelp = !$ctrl.intervalHelp"></fa>
        <label>Czas</label>
        <input type="text" class="form-control" ng-model="$ctrl.notification.intervals" required name="interval">
        <div class="help-block fx-fade-up" ng-if="$ctrl.intervalHelp">
            W notacji <a href="https://pl.wikipedia.org/wiki/Crontab">crontab</a> podaj kiedy aplikacja ma sprawdzać warunki i ewentualnie pokazywać
            powiadomienie. Wiele specyfikacji oddziel przecinkami. Przykłady:
            <ul>
                <li><code>* * * * *</code> - co minutę</li>
                <li><code>*/15 * * * *</code> - co 15 minut</li>
                <li><code>30 6 * * *, 0 15 * * *</code> - o 6:30 i o 15:00</li>
                <li><code>44 7 * * 6,7</code> - o 7:44 w soboty i niedziele</li>
                <li><code>13 * 20 5 *</code> - co godzinę w 13 minucie, tylko 20 maja</li>
            </ul>
            Ustawianie częstszego sprawdzania spowoduje szybsze pokazanie powiadomienia, ale wpłynie negatywnie na czas pracy na baterii Twojego
            urządzenia mobilnego.
        </div>
    </div>

    <div class="form-group">
        <label>Powiadomienie (nagłówek)</label>
        <feedback-field ng-model="$ctrl.notification.header"></feedback-field>
    </div>
    <div class="well fx-fade-up" ng-if="$ctrl.notification.header">
        <feedback-interpolation feedback="$ctrl.notification.header"></feedback-interpolation>
    </div>

    <div class="form-group">
        <label>Powiadomienie (treść)</label>
        <feedback-field ng-model="$ctrl.notification.message"></feedback-field>
    </div>
    <div class="well fx-fade-up" ng-if="$ctrl.notification.message">
        <feedback-interpolation feedback="$ctrl.notification.message"></feedback-interpolation>
    </div>

    {{ $ctrl.notification.icon }}

    <div class="form-group">
        <label>Ikona</label>
        <notification-icon-chooser ng-model="$ctrl.notification.icon"></notification-icon-chooser>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.sound"> Dźwięk
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.vibrate"> Wibracje
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.flash"> Dioda
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.cancellable"> Usuwalne
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.ongoing"> Trwające
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.awake"> Wybudź urządzenie
        </label>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-default" ng-click="$ctrl.onCancel()">
                <fa name="times" fw></fa>
                Anuluj
            </button>
            <button type="submit" class="btn btn-primary">
                <fa name="{{ $ctrl.notification.id ? 'save' : 'plus' }}" fw></fa>
                {{ $ctrl.notification.id ? 'Zapisz' : 'Dodaj' }} powiadomienie
            </button>
        </div>
    </div>
</form>

