<h2 class="no-margin-top">{{ $ctrl.notification.id ? 'Edytuj' : 'Dodaj' }} powiadomienie</h2>
<form name="notificationForm"
      novalidate
      promise-btn
      ng-submit="$broadcast('show-errors-check-validity') && notificationForm.$valid && $ctrl.submit()">

    <div class="form-group" show-errors>
        <label>Nazwa</label>
        <input type="text" class="form-control" name="label" required ng-model="$ctrl.notification.label">
    </div>

    <div class="form-group">
        <label>Warunek</label>
        <feedback-field ng-model="$ctrl.notification.condition"></feedback-field>
    </div>
    <div class="well fx-fade-up" ng-if="$ctrl.notification.condition">
        <feedback-interpolation feedback="$ctrl.notification.condition"></feedback-interpolation>
    </div>

    <div class="form-group" show-errors>
        <label>Czas</label>
        <input type="text" class="form-control" ng-model="$ctrl.notification.intervals" required name="interval">
    </div>

    <div class="form-group">
        <label>Powiadomienie (nagłówek)</label>
        <feedback-field ng-model="$ctrl.notification.header"></feedback-field>
    </div>
    <div class="well fx-fade-up" ng-if="$ctrl.notification.header">
        <feedback-interpolation feedback="$ctrl.notification.header"></feedback-interpolation>
    </div>

    <div class="form-group">
        <label>Powiadomienie (treść)</label>
        <feedback-field ng-model="$ctrl.notification.message"></feedback-field>
    </div>
    <div class="well fx-fade-up" ng-if="$ctrl.notification.message">
        <feedback-interpolation feedback="$ctrl.notification.message"></feedback-interpolation>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.sound"> Dźwięk
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.vibrate"> Wibracje
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.flash"> Dioda
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.cancellable"> Usuwalne
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.ongoing"> Trwające
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="$ctrl.notification.awake"> Wybudź urządzenie
        </label>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-default" ng-click="$ctrl.onCancel()">
                <fa name="times" fw></fa>
                Anuluj
            </button>
            <button type="submit" class="btn btn-primary">
                <fa name="{{ $ctrl.notification.id ? 'save' : 'plus' }}" fw></fa>
                {{ $ctrl.notification.id ? 'Zapisz' : 'Dodaj' }} powiadomienie
            </button>
        </div>
    </div>
</form>

