RewriteEngine On
RewriteRule ^scene/(.+) scene/scene.php?commands=$1
RewriteRule ^temperature/(\d+) temperature/temperature.php?channel=$1
RewriteRule ^temperature-stats/(\d+)/((max)|(min)|(avg))/(.+) temperature-stats/temperature-stats.php?channel=$1&stat=$2&since=$6
RewriteRule ^toggle/(\d+) toggle/toggle.php?channel=$1
