<?php

define('SUPLA_SERVER', 'svrX.supla.org');
define('SUPLA_CLIENT_ID', '');
define('SUPLA_SECRET', '');
define('SUPLA_USERNAME', 'api_2');
define('SUPLA_PASSWORD', '');

define('HTTP_BASIC_USER', '');
define('HTTP_BASIC_PASSWORD', '');
