<h2 class="no-margin-top">{{ $ctrl.scene.id ? 'Edytuj' : 'Dodaj' }} scenę</h2>
<form name="sceneForm"
      novalidate
      promise-btn
      ng-submit="$broadcast('show-errors-check-validity') && sceneForm.$valid && $ctrl.submit()">

    <div class="form-group" show-errors>
        <label>Nazwa</label>
        <input type="text" class="form-control" name="label" required ng-model="$ctrl.scene.label">
    </div>

    <div class="form-group">
        <fa name="question-circle" class="pull-right pointer" ng-click="$ctrl.conditionHelp = !$ctrl.conditionHelp"></fa>
        <label>Warunek wykonania sceny</label>
        <feedback-field ng-model="$ctrl.scene.condition" condition="true"></feedback-field>
    </div>
    <feedback-interpolation feedback="$ctrl.scene.condition" condition="true"></feedback-interpolation>
    <div class="well fx-fade-up" ng-if="$ctrl.conditionHelp">
        <p>Warunek wykonania to stan kanału: jeśli coś jest włączone, jeśli coś jest zamknięte itp. Scena wykona się, gdy warunek jest
            spełniony.</p>
        <p>Użyty język wyrażeń to <a href="https://twig.symfony.com">Twig</a>.</p>
        <p>Użyj znaku <code>{</code> by wyświetlić dostępne podpowiedzi.</p>
        <p>Zaglądnij na <a href="https://forum.supla.org/viewtopic.php?f=9&t=4131">forum</a> by zobaczyć co można tu wyprodukować. Kilka pomysłów
            poniżej.</p>
        <ul>
            <li>
                <code ng-non-bindable>{{state(1).on}}</code>
                jeśli kanał 1 jest włączony
            </li>
            <li>
                <code ng-non-bindable>{{not state(1).on}}</code>
                jeśli kanał 1 jest włączony
            </li>
            <li>
                <code ng-non-bindable>{{state(1).on and state(2).hi and not state(3).on}}</code> -
                jeśli kanał 1 jest włączony, 2 jest zamknięty i 3 jest wyłączony
            </li>
            <li>
                <code ng-non-bindable>{{state(4).temperature &lt; -2.5}}</code>
                jeśli temperatura na kanale 4 jest mniejsza od -2.5&deg;C
            </li>
            <li>
                <code ng-non-bindable>{{state(5).temperature &gt;= 10}}</code>
                jeśli temperatura na kanale 5 jest większa lub równa 10&deg;C
            </li>
            <li>
                <code ng-non-bindable>{{state(5).temperature > state(15).temperature}}</code>
                jeśli temperatura na kanale 5 jest większa od temperatury na kanale 15
            </li>
            <li>
                <code ng-non-bindable>{{state(5).temperature > state(15).temperature or not state(25).hi}}</code>
                jeśli temperatura na kanale 5 jest większa od temperatury na kanale 15 lub jeśli kanał 25 jest otwarty
            </li>
        </ul>
    </div>

    <div class="form-group">
        <h4>Akcje</h4>
        <time-scene-selector ng-model="$ctrl.scene.actions"></time-scene-selector>
    </div>

    <h4>
        Komendy głosowe
        <fa name="question-circle" fw class="pull-right pointer" ng-if="!$ctrl.voiceTutorialShown" ng-click="$ctrl.voiceTutorialShown = true"></fa>
    </h4>

    <voice-commands-tutorial ng-if="$ctrl.voiceTutorialShown" class="fx-fade-up"></voice-commands-tutorial>

    <voice-triggers-field ng-model="$ctrl.scene.voiceTriggers"></voice-triggers-field>

    <div class="form-group">
        <label>Odpowiedź</label>
        <feedback-field ng-model="$ctrl.scene.feedback"></feedback-field>
        <p class="help-block">Podczas tworzenia odpowiedzi użyj znaku <code>{</code> by uzyskać podpowiedzi
            możliwych do
            użycia zmiennych.</p>
    </div>

    <div class="well fx-fade-up" ng-if="$ctrl.scene.feedback">
        <feedback-interpolation feedback="$ctrl.scene.feedback"></feedback-interpolation>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="$ctrl.scene.generateSlug">
                Scena dostępna pod publicznym adresem URL
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-default" ng-click="$ctrl.onCancel()">
                <fa name="times" fw></fa>
                Anuluj
            </button>
            <button type="submit" class="btn btn-primary">
                <fa name="{{ $ctrl.scene.id ? 'save' : 'plus' }}" fw></fa>
                {{ $ctrl.scene.id ? 'Zapisz' : 'Dodaj' }} scenę
            </button>
        </div>
    </div>
</form>

