@import "../styles";

.state-log-channel-brief {
  function-icon {
    float: left;
  }

  .clearfix {
    display: flex;
    align-items: center;
    h4 {
      margin: 0 15px;
    }
    .label {
      font-size: 1em;
    }
  }
}
.table-state-logs {
  th:first-child, td:first-child {
    width: 150px;
  }
}
