<view-title>
    {{ $ctrl.scene.label }}
    - sceny
</view-title>

<div class="btn-group btn-group-sm pull-right" ng-hide="$ctrl.editing">
    <button class="btn btn-default" ng-click="$ctrl.editing = true">
        <fa name="edit" fw></fa>
        Edytuj
    </button>
    <button class="btn btn-danger" ng-click="$ctrl.deleteScene()" promise-btn>
        <fa name="trash" fw></fa>
        Usuń
    </button>
</div>

<scene-form ng-if="$ctrl.editing" scene="$ctrl.scene"
            on-submit="$ctrl.saveScene(savedScene)"
            on-cancel="$ctrl.editing = false"></scene-form>

<div ng-else>
    <h2 class="no-margin-top">
        {{ $ctrl.scene.label }}
    </h2>
    <p class="text-muted">
        <span ng-if="$ctrl.scene.lastUsed">ostatnie wykonanie: {{ $ctrl.scene.lastUsed | amCalendar }}</span>
        <span ng-else>scena nie była jeszcze wykonana</span>
    </p>

    <button class="btn btn-info btn-lg btn-block" ng-click="$ctrl.scene.executeWithFeedback()" promise-btn>
        <fa name="cogs" fw></fa>
        Wykonaj scenę
    </button>

    <div ng-if="$ctrl.scene.actions">
        <h3>Akcje</h3>
        <scene-selector ng-model="$ctrl.scene.actions" disabled="true"></scene-selector>
    </div>

    <h3>Adresy URL</h3>

    <h4>Adres wymagający autoryzacji</h4>
    <pre>{{ $ctrl.scene.id | sceneUrl }}</pre>

    <copy-button text="$ctrl.scene.id | sceneUrl" label="Kopiuj adres"></copy-button>&nbsp;
    <button class="btn btn-default" type="button" ng-click="$ctrl.generateSceneToken()" ng-disabled="$ctrl.scene.token" promise-btn>
        <fa name="key" fw></fa>
        Wygeneruj cURL z kluczem dostępu
    </button>&nbsp;
    <copy-button ng-if="$ctrl.scene.token" text="$ctrl.scene | sceneCurlWithToken" label="Kopiuj cURL z kluczem dostępu"></copy-button>

    <div ng-if="$ctrl.scene.slug">
        <h4>Adres publiczny</h4>
        <pre>{{ $ctrl.scene.slug | sceneUrl:true }}</pre>
        <copy-button text="$ctrl.scene.slug | sceneUrl:true" label="Kopiuj adres"></copy-button>&nbsp;
        <copy-button text="'curl ' + ($ctrl.scene.slug | sceneUrl:true)" label="Kopiuj cURL"></copy-button>
    </div>

    <div ng-if="$ctrl.scene.feedback">
        <h3>Aktualna odpowiedź</h3>
        <feedback-interpolation feedback="$ctrl.scene.feedback"></feedback-interpolation>
    </div>

    <div ng-if="$ctrl.scene.voiceTriggers.length">
        <h3>Komendy głosowe</h3>
        <h5 ng-repeat="trigger in $ctrl.scene.voiceTriggers">{{ trigger }}</h5>
    </div>

    <h3>Logi</h3>
    <logs-table entity-id="$ctrl.scene.id" limit="30" on-new-logs="$ctrl.reloadScene()"></logs-table>
</div>
