<view-title>
    {{ $ctrl.scene.label }}
    - sceny
</view-title>

<div class="btn-group btn-group-sm pull-right" ng-hide="$ctrl.editing">
    <button class="btn btn-warning" ng-click="$ctrl.scene.clearPending()" ng-if="$ctrl.scene.pending_scenes.length" promise-btn>
        <fa name="history" fw></fa>
        Scena w trakcie wykonywania, kliknij by zatrzymać
    </button>
    <button class="btn btn-default" ng-click="$ctrl.editing = true">
        <fa name="edit" fw></fa>
        Edytuj
    </button>
    <button class="btn btn-danger" ng-click="$ctrl.deleteScene()" promise-btn>
        <fa name="trash" fw></fa>
        Usuń
    </button>
</div>

<scene-form ng-if="$ctrl.editing" scene="$ctrl.scene"
            on-submit="$ctrl.saveScene(savedScene)"
            on-cancel="$ctrl.editing = false"></scene-form>

<div ng-else>
    <h2 class="no-margin-top">
        {{ $ctrl.scene.label }}
    </h2>
    <p class="text-muted">
        <span ng-if="$ctrl.scene.lastUsed">ostatnie wykonanie: {{ $ctrl.scene.lastUsed | amCalendar }}</span>
        <span ng-else>scena nie była jeszcze wykonana</span>
    </p>

    <button class="btn btn-info btn-lg btn-block" ng-click="$ctrl.scene.executeWithFeedback()" promise-btn>
        <fa name="cogs" fw></fa>
        Wykonaj scenę
    </button>

    <div ng-if="$ctrl.scene.intervals">
        <h3>Wyzwalanie czasowe</h3>
        <div class="form-group">
            Najbliższe wykonanie po: {{ $ctrl.scene.nextExecutionTime | date:'short' }}
        </div>
    </div>

    <div ng-if="$ctrl.scene.condition">
        <h3>Wyzwalanie w oparciu o stan kanałów</h3>
        <div class="form-group">
            <code>{{ $ctrl.scene.trigger }}</code>
        </div>
        <feedback-interpolation feedback="$ctrl.scene.trigger" condition="true" refreshing="true"></feedback-interpolation>
    </div>

    <div ng-if="$ctrl.scene.condition">
        <h3>Warunek wykonania</h3>
        <div class="form-group">
            <code>{{ $ctrl.scene.condition }}</code>
        </div>
        <feedback-interpolation feedback="$ctrl.scene.condition" condition="true" refreshing="true"></feedback-interpolation>
    </div>

    <div ng-if="$ctrl.scene.actions">
        <h3>Akcje</h3>
        <time-scene-selector ng-model="$ctrl.scene.actions" disabled="true"></time-scene-selector>
    </div>

    <h3>Adresy URL</h3>
    <span class="pull-right pointer" ng-if="!$ctrl.urlTutorialShown">
        <fa name="question-circle" fw ng-click="$ctrl.urlTutorialShown = true"
            tooltips tooltip-template="Po co mi adresy URL?"></fa>
    </span>

    <div class="well text-center fx-fade-down" ng-if="$ctrl.urlTutorialShown">
        <h3 class="no-margin-top">Po co mi adresy URL?</h3>

        <p>Otwarcie adresu URL sceny spowoduje jej uruchomienie oraz zwrócenie treści odpowiedzi w formie tekstu.</p>

        <ol style="display: inline-block; text-align: left;">
            <li>Możesz je zapisać w zakładkach przeglądarki.</li>
            <li>Możesz je komuś wysłać na maila lub SMS.</li>
            <li>Możesz stworzyć na ich podstawie widgety na smartfonie.</li>
        </ol>

        <p>Zobacz jak skonfigurować widgety na urządzeniu z Androidem.</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/m9JipPYhm6I?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <h4>Adres wymagający autoryzacji</h4>
    <pre>{{ $ctrl.scene.id | sceneUrl }}</pre>

    <div class="btn-group">
        <copy-button text="$ctrl.scene.id | sceneUrl" label="Kopiuj adres" class="btn-group margin-bottom"></copy-button>
        <button class="btn btn-default margin-bottom" type="button" ng-click="$ctrl.generateSceneToken()" ng-if="!$ctrl.scene.token" promise-btn>
            <fa name="key" fw></fa>
            Wygeneruj cURL z kluczem dostępu
        </button>
        <copy-button ng-if="$ctrl.scene.token" text="$ctrl.scene | sceneCurlWithToken" label="Kopiuj cURL z kluczem dostępu"
                     class="btn-group margin-bottom"></copy-button>
        <a ng-href="{{ $ctrl.scene.id | sceneUrl }}" class="btn btn-default margin-bottom" title="{{ $ctrl.scene.label }}" target="_blank">
            <fa name="external-link" fw></fa>
            Otwórz link
        </a>
    </div>

    <div ng-if="$ctrl.scene.slug">
        <h4>Adres publiczny</h4>
        <pre>{{ $ctrl.scene.slug | sceneUrl:true }}</pre>
        <div class="btn-group">
            <copy-button text="$ctrl.scene.slug | sceneUrl:true" label="Kopiuj adres" class="btn-group margin-bottom"></copy-button>
            <copy-button text="'curl ' + ($ctrl.scene.slug | sceneUrl:true)" label="Kopiuj cURL" class="btn-group margin-bottom"></copy-button>
            <a ng-href="{{ $ctrl.scene.slug | sceneUrl:true }}" class="btn btn-default margin-bottom" target="_blank">
                <fa name="external-link" fw></fa>
                Otwórz link
            </a>
        </div>
    </div>

    <div ng-if="$ctrl.scene.feedback">
        <h3>Aktualna odpowiedź</h3>
        <feedback-interpolation feedback="$ctrl.scene.feedback"></feedback-interpolation>
    </div>

    <div ng-if="$ctrl.scene.voiceTriggers.length">
        <h3>Komendy głosowe</h3>
        <h5 ng-repeat="trigger in $ctrl.scene.voiceTriggers">{{ trigger }}</h5>
    </div>

    <div ng-if="$ctrl.scene.notifications.length">
        <h3>Powiadomienia pushover</h3>
        <div class="row">
            <div class="col-sm-4" ng-repeat="notification in $ctrl.scene.notifications">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <feedback-interpolation feedback="notification.title"></feedback-interpolation>
                    </div>
                    <div class="panel-body">
                        <feedback-interpolation feedback="notification.message"></feedback-interpolation>
                        <div class="well well-sm no-margin" ng-if="notification.devices">
                            Do urządzeń: {{ notification.devices }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Logi</h3>
    <logs-table entity-id="$ctrl.scene.id" limit="30" on-new-logs="$ctrl.reloadScene()"></logs-table>
</div>
