# Run supla-scripts dispatcher every 5 minutes
* * * * * /usr/bin/php /var/www/supla-scripts/supla-scripts dispatch:all
* * * * * /usr/bin/php /var/www/supla-scripts/supla-scripts dispatch:time-scenes
