COMPOSE_PROJECT_NAME=suplascripts
DATABASE_PASSWORD=CHANGE_ME_BEFORE_FIRST_LAUNCH

VOLUME_SOURCES=../
VOLUME_DATA=../var


##### STANDALONE MODE CONFIGURATION #####
PORT_HTTP=80
PORT_HTTPS=443


##### PROXIED MODE CONFIGURATION #####
#DOMAIN_NAME=supla.fracz.com
#ADMIN_EMAIL=fraczwojciech@gmail.com
