<view-title>Dane Pushover</view-title>
<div class="alert alert-info">
    <fa name="info-circle" fw class="pull-right" size="2"></fa>
    <p>Za pomocą poniższego formularza możesz zmienić dane dostępowe do <a href="https://pushover.net/">Pushover</a>.</p>
    <p>Ich podanie jest opcjonalne. Po ich podaniu będzie możliwe dodanie powiadomień wysyłanych po wykonaniu sceny.</p>
</div>

<form name="pushoverCredentialsForm" ng-submit="$ctrl.changePushoverCredentials()" promise-btn>
    <div class="form-group label-floating"
         show-errors>
        <label class="control-label">User Token</label>
        <input type="password"
               ng-model="$ctrl.pushoverCredentials.user"
               required
               name="user"
               class="form-control">
    </div>
    <div class="form-group label-floating"
         show-errors>
        <label class="control-label">App Token</label>
        <input type="password"
               ng-model="$ctrl.pushoverCredentials.token"
               required
               name="token"
               class="form-control">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">
                    <fa name="save" fw></fa>
                    Zapisz dane logowania do Pushover
                </button>
            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-default" ng-click="$ctrl.testPushover()" promise-btn>
                    <fa name="bell" fw></fa>
                    Wyślij testowe powiadomienie
                </button>
            </div>
        </div>
    </div>
</form>
