<view-title>Dane Pushover</view-title>
<div class="alert alert-info">
    <fa name="info-circle" fw class="pull-right" size="2"></fa>
    <p>Za pomocą poniższego formularza możesz zmienić dane dostępowe do <a href="https://pushover.net/">Pushover</a>.</p>
    <p>Ich podanie jest opcjonalne. Po ich podaniu będzie możliwe dodanie powiadomień wysyłanych po wykonaniu sceny.</p>
</div>

<div class="well fx-fade-up" ng-if="$ctrl.pushoverHelp">
    <h3>Jak skorzystać z Pushover?</h3>
    <p>Usługa powiadomień <strong>nie jest</strong> dostarczana bezpośrednio przez SUPLA Scripts.
        Zamiast tego, SUPLA Scripts korzysta z zewnętrznej usługi specjalizującej się w dostarczaniu powiadomień PUSH
        (na żądanie) do urządzeń mobilnych. SUPLA Scripts jedynie zleca ich wysłanie za pośrednictwem zewnętrznej usługi.</p>
    <p>Jeśli za skorzystanie z Pushover musisz wnieść jakąś drobną opłatę, nie trafia ona do autora skryptów ale
        do właścicieli Pushover i to od właścicieli Pushover zależą wymagane (bądź nie) opłaty.</p>

    <ol>
        <li>Załóż konto w serwisie <a href="https://pushover.net/">Pushover</a>.</li>
        <li>Na stronie głównej po zalogowaniu odnajdziesz token zatytułowany <i>Your User Key</i>. Tę wartość należy podać w pierwszym
            polu poniżej.
        </li>
        <li>W sekcji <i>Your applications</i> stwórz nową aplikację (<i>Create an Application/API Token)</i>). Nazwij ją
            na przykład <i>SUPLA Scripts</i>. Nie musisz podawać adresu URL, opisu ani ikony.
        </li>
        <li>W szczegółach stworzonej aplikacji znajdziesz pole <i>API Token/Key</i>. Tę wartość należy podać w drugim polu poniżej.</li>
        <li>Zainstaluj aplikację Pushover na wybranych urządzeniach mobilnych.</li>
        <li>Zapisz konfigurację i przetestuj powiadomienia.</li>
    </ol>

</div>

<form name="pushoverCredentialsForm" ng-submit="$ctrl.changePushoverCredentials()" promise-btn>
    <div class="form-group label-floating"
         show-errors>
        <fa name="question-circle" class="pull-right pointer" ng-click="$ctrl.pushoverHelp = !$ctrl.pushoverHelp"></fa>
        <label class="control-label">User Key</label>
        <input type="password"
               ng-model="$ctrl.pushoverCredentials.user"
               required
               name="user"
               class="form-control">
    </div>
    <div class="form-group label-floating"
         show-errors>
        <label class="control-label">API Token/Key</label>
        <input type="password"
               ng-model="$ctrl.pushoverCredentials.token"
               required
               name="token"
               class="form-control">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">
                    <fa name="save" fw></fa>
                    Zapisz dane logowania do Pushover
                </button>
            </div>
            <div class="col-sm-6 text-right">
                <button type="button" class="btn btn-default" ng-click="$ctrl.testPushover()" promise-btn>
                    <fa name="bell" fw></fa>
                    Wyślij testowe powiadomienie
                </button>
            </div>
        </div>
    </div>
</form>
