@import 'styles';

* {
  -webkit-font-smoothing: antialiased !important;
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

a, .pointer {
  cursor: pointer;
}

.navbar {
  border-radius: 0;
  .navbar-toggle {
    color: white;
    border-color: #CCC;
  }
}

table {
  &.table-no-border {
    td, th {
      border: 0 !important;
    }
  }
  &.table-no-first-border {
    tr:first-child {
      td, th {
        border-top: 0;
      }
    }
  }
  &.table-fixed {
    table-layout: fixed;
  }
}

.btn{
  .fa-fw {
    margin-right: 3px;
  }
  &.is-loading {
    .fa {
      animation: fa-spin 2s infinite linear;
      &:before {
        content: "\f1ce"; // circle-o-notch
      }
    }
  }
}
