<view-title>
    {{ $ctrl.notification.label }}
    - powiadomienia
</view-title>

<div class="btn-group btn-group-sm pull-right" ng-hide="$ctrl.editing">
    <button class="btn btn-default" ng-click="$ctrl.editing = true">
        <fa name="edit" fw></fa>
        Edytuj
    </button>
    <button class="btn btn-danger" ng-click="$ctrl.deleteNotification()" promise-btn>
        <fa name="trash" fw></fa>
        Usuń
    </button>
</div>

<notification-form ng-if="$ctrl.editing" notification="$ctrl.notification"
                   on-submit="$ctrl.saveNotification(savedNotification)"
                   on-cancel="$ctrl.editing = false"></notification-form>

<div ng-else>
    <h2 class="no-margin-top">
        {{ $ctrl.notification.label }}
    </h2>
    <p>
        Aktualnie powiadomienie jest:
        <span class="label label-success" ng-if="$ctrl.notification.show">POKAZYWANE</span>
        <span class="label label-danger" ng-else>UKRYTE</span>
    </p>
    <p>
        Najbliższe sprawdzenie: {{ $ctrl.notification.nextRunTimestamp | amFromUnix | amCalendar }}
    </p>
    <h3>Podgląd</h3>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel" ng-class="$ctrl.notification.show ? 'panel-info' : 'panel-default'">
                <div class="panel-heading">
                    <fa name="{{ $ctrl.notification.icon | notificationIcon }}"></fa>
                    &nbsp;
                    {{ $ctrl.notification.show.header || $ctrl.notification.header }}
                </div>
                <div class="panel-body" ng-if="$ctrl.notification.message">{{ $ctrl.notification.show.message || $ctrl.notification.message }}</div>
                <div class="panel-body" ng-if="$ctrl.notification.actions.length">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default disabled" ng-repeat="action in $ctrl.notification.actions">
                            <fa name="{{ action.icon | notificationIcon }}" fw></fa>
                            {{ action.label }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>Logi</h3>
    <logs-table entity-id="$ctrl.notification.id" limit="30" on-new-logs="$ctrl.reloadNotification()"></logs-table>
</div>
