<view-title>Logi</view-title>
<loader-dots ng-if="!$ctrl.logs"></loader-dots>
<div ng-else class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Kiedy?</th>
                    <th>Moduł</th>
                    <th>Podmiot</th>
                    <th>Treść</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in $ctrl.logs">
                    <td>{{ entry.createdAt | date: 'short' }}</td>
                    <td>{{ entry.module }}</td>
                    <td>
                        <span ng-switch="entry.module">
                            <a ng-switch-when="thermostat"
                               ui-sref="thermostat.preview({id: entry.entityId})">
                                Termostat
                            </a>
                        </span>
                    </td>
                    <td>{{ entry.data }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

