* * * * * root /usr/local/bin/php /var/www/supla-scripts dispatch:all > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * root /usr/local/bin/php /var/www/supla-scripts dispatch:time-scenes > /proc/1/fd/1 2>/proc/1/fd/2
