<div class="container">
    <h1 view-title>Sterowanie głosem</h1>

    <div class="row" ng-if="$ctrl.voiceCommands">
        <div ng-if="$ctrl.voiceCommands.length !== 0" class="col-sm-3">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="voiceCommand in $ctrl.voiceCommands"
                   ui-sref="voice.details({id: voiceCommand.id})" ui-sref-active="active">
                    <div>{{ voiceCommand.triggers[0] }}</div>
                    <scene-caption scene="voiceCommand.scene" class="text-muted small"></scene-caption>
                </a>
            </div>
        </div>

        <div class="col-sm-9 col-12-if-alone">
            <div ng-if="'voice' | isState">
                <new-voice-command-form on-submit="$ctrl.addNewVoiceCommand(savedCommand)"
                                        show-tutorial="$ctrl.voiceCommands.length === 0"></new-voice-command-form>
            </div>
            <div ui-view></div>
        </div>
    </div>

    <loader-dots ng-else></loader-dots>
</div>

