<view-title>Zmień hasło</view-title>

<div class="alert alert-danger fx-fade-down"
     ng-if="$ctrl.passwordNotValid">
    <fa name="ban" fw></fa>
    Podane obecne hasło nie jest poprawne.
</div>
<form name="passwordForm"
      novalidate
      promise-btn
      ng-submit="$broadcast('show-errors-check-validity') && passwordForm.$valid && $ctrl.changeUserPassword()">
    <div class="form-group"
         show-errors>
        <label>Obecne hasło</label>
        <input type="password"
               name="currentPassword"
               required
               class="form-control"
               ng-model="$ctrl.change.currentPassword">
    </div>
    <div class="form-group"
         show-errors>
        <label>Nowe hasło</label>
        <input type="password"
               name="newPassword"
               class="form-control"
               required
               different-than="{{$ctrl.change.currentPassword}}"
               ng-minlength="3"
               ng-model="$ctrl.change.newPassword">
    </div>
    <div class="form-group"
         show-errors>
        <label>Powtórz nowe hasło</label>
        <input type="password"
               name="newPasswordRepeat"
               class="form-control"
               required
               same-as="{{ $ctrl.change.newPassword }}"
               ng-model="$ctrl.newPasswordConfirmation">
    </div>
    <div class="form-group">
        <button type="submit"
                class="btn btn-primary btn-raised btn-lg">
            <fa name="lock" fw></fa>
            Zmień hasło
        </button>
    </div>
</form>
