<?php
return [
    [
        'commands' => [
            'włącz światło w sypialni'
        ],
        'action' => 'turnOn,123',
    ],
    [
        'commands' => [
            'wyłącz światło w sypialni'
        ],
        'action' => 'turnOff,123',
    ]
];
