<view-title>{{ $ctrl.voiceCommand.triggers[0] }} - sterowanie głosem</view-title>

<div class="btn-group btn-group-sm pull-right" ng-hide="$ctrl.editing">
    <button class="btn btn-default" ng-click="$ctrl.editing = true">
        <fa name="edit" fw></fa>
        Edytuj
    </button>
    <button class="btn btn-danger" ng-click="$ctrl.deleteVoiceCommand()" promise-btn>
        <fa name="trash" fw></fa>
        Usuń
    </button>
</div>

<voice-command-form ng-if="$ctrl.editing" voice-command="$ctrl.voiceCommand"
                    on-submit="$ctrl.saveVoiceCommand(savedCommand)"
                    on-cancel="$ctrl.editing = false"></voice-command-form>

<div ng-else>
    <h2 class="no-margin-top">{{ $ctrl.voiceCommand.triggers[0] }}</h2>
    <p class="text-muted">
        <span ng-if="$ctrl.voiceCommand.lastUsed">ostatnie wykonanie: {{ $ctrl.voiceCommand.lastUsed | amCalendar }}</span>
        <span ng-else>komenda nie była jeszcze wykonana</span>
    </p>

    <div ng-if="$ctrl.voiceCommand.triggers.length > 1">
        <h3>Inne warianty komendy</h3>
        <h5 ng-repeat="trigger in $ctrl.voiceCommand.triggers" ng-hide="$first">{{ trigger }}</h5>
    </div>

    <div ng-if="$ctrl.voiceCommand.scene">
        <h3>Akcje</h3>
        <scene-selector ng-model="$ctrl.voiceCommand.scene" disabled="true"></scene-selector>
    </div>

    <div ng-if="$ctrl.voiceCommand.feedback">
        <h3>Aktualna odpowiedź</h3>
        <voice-feedback-interpolation feedback="$ctrl.voiceCommand.feedback"></voice-feedback-interpolation>
    </div>

    <h3>Logi</h3>
    <logs-table entity-id="$ctrl.voiceCommand.id" limit="30" on-new-logs="$ctrl.reloadCommand()"></logs-table>
</div>
