<view-title>Pomieszczenia - {{ $ctrl.thermostat.label }}</view-title>
<div class="container">
    <div class="alert alert-info" ng-if="$ctrl.rooms.length === 0">
        <fa name="info-circle" fw class="pull-right" size="2"></fa>
        <p>Pierwszym krokiem przy definiowaniu termostatu jest konfiguracja pomieszczeń. Określ, jakie pomieszczenia
            chcesz
            kontrolować (np. kuchnia, salon, garaż, dom) oraz wskaż czujniki które odpowiadają za odczyt pożądanych wartości w
            danych pomieszczeniach a także urządzenia, które na te odczyty wpływają.</p>
        <p>W kolejnym kroku ustalisz żądane wartości w każdym ze zdefiniowanych tutaj pomieszczeń.</p>
    </div>

    <loader-dots ng-if="!$ctrl.rooms"></loader-dots>

    <div ng-else>
        <div class="well" ng-repeat="room in $ctrl.rooms">
            <thermostat-room-form ng-if="room.editing" room="room" on-submit="$ctrl.saveRoom(room, savedRoom)"
                                  on-cancel="room.editing = false" thermostat="$ctrl.thermostat"></thermostat-room-form>
            <thermostat-room-display ng-else room="room" on-edit="room.editing = true" thermostat="$ctrl.thermostat"
                                     on-delete="$ctrl.deleteRoom(room)"></thermostat-room-display>
        </div>

        <div class="text-right" ng-if="!$ctrl.adding">
            <button class="btn btn-primary" ng-click="$ctrl.adding = true">
                <fa name="plus" fw></fa>
                Dodaj nowe pomieszczenie
            </button>
        </div>

        <div class="well fx-fade-right" ng-else>
            <thermostat-room-form on-submit="$ctrl.addNewRoom(savedRoom)"
                                  thermostat="$ctrl.thermostat"
                                  on-cancel="$ctrl.adding = false"></thermostat-room-form>
        </div>
    </div>
</div>
