<div class="form-group label-floating"
     show-errors>
    <label class="control-label">Serwer</label>
    <input type="url"
           ng-model="$ctrl.model.server"
           ng-change="$ctrl.updateModel()"
           required
           name="server"
           class="form-control">
    <span class="help-block">Adres Twojego serwera SUPLA-Cloud.</span>
</div>
<div class="form-group label-floating"
     show-errors>
    <label class="control-label">ClientID</label>
    <input type="text"
           ng-model="$ctrl.model.clientId"
           ng-change="$ctrl.updateModel()"
           required
           name="clientid"
           class="form-control">
</div>
<div class="form-group label-floating"
     show-errors>
    <label class="control-label">Secret</label>
    <input type="password"
           ng-model="$ctrl.model.secret"
           ng-change="$ctrl.updateModel()"
           required
           name="secret"
           class="form-control">
</div>
<div class="form-group label-floating"
     show-errors>
    <label class="control-label">Username (API)</label>
    <input type="text"
           ng-model="$ctrl.model.username"
           ng-change="$ctrl.updateModel()"
           required
           name="apiusername"
           class="form-control">
</div>
<div class="form-group label-floating"
     show-errors>
    <label class="control-label">Password (API)</label>
    <input type="password"
           ng-model="$ctrl.model.password"
           ng-change="$ctrl.updateModel()"
           required
           name="apipassword"
           class="form-control">
</div>
