<?php
return [
    [
        'commands' => [
            'włącz światło w sypialni'
        ],
        'action' => 'turnOn,123',
        'feedback' => 'światło w sypialni zostało włączone',
    ],
    [
        'commands' => [
            'wyłącz światło w sypialni'
        ],
        'action' => 'turnOff,123',
        'feedback' => 'światło w sypialni zostało wyłączone',
    ],
    [
        'commands' => [
            'czy światło w sypialni jest włączone'
        ],
        'action' => 'get,123',
        'feedback' => 'światło w sypialni jest {{on}}',
    ],
    [
        'commands' => [
            'ile jest stopni w domu'
        ],
        'action' => 'get,125',
        'feedback' => 'w domu jest {{temperature}} stopni',
    ],
];
