<div class="form-group">
    <div ng-if="!$ctrl.tokenInfo">
        <p>Tym sposobem zalogujesz się na dowolną instancję SUPLA Cloud, bez względu na to czy jest ona zarejestrowana czy nie. W celu uzyskania
            tokena
            dostępu, przejdź do ustawień integracji w swoim koncie SUPLA Cloud, wybierz "Osobiste tokeny dostępowe" i wygeneruj nowy token.</p>
        <p>Ważne jest, by nadać mu uprawnienia: odczyt konta, odczyt i wykonywanie akcji na kanałach oraz odczyt urządzeń.</p>
        <p>Po wygenerowaniu tokena wklej go w pole poniżej - powiemy Ci co dalej.</p>
    </div>
    <div class="alert alert-danger" ng-if="$ctrl.error">
        {{ $ctrl.error }}
    </div>
    <form name="loginForm"
          novalidate
          promise-btn
          promise-btn-options="{minDuration: 1000}"
          ng-submit="$broadcast('show-errors-check-validity') && loginForm.$valid && $ctrl.loginWithToken()">
        <div class="form-group"
             show-errors>
            <label class="control-label">Token</label>
            <input type="password"
                   ng-model="$ctrl.userData.personalToken"
                   ng-change="$ctrl.checkToken()"
                   required
                   name="token"
                   ng-model-options="{debounce: 500}"
                   class="form-control"
                   ng-disabled="$ctrl.loading || $ctrl.tokenInfo">
        </div>
        <div class="text-center" ng-if="$ctrl.loading">
            <loader-dots-small></loader-dots-small>
        </div>
        <div ng-if="$ctrl.tokenInfo">
            <p>Token wystawiony przez <strong>{{ $ctrl.tokenInfo.cloudUrl }}</strong> dla użytkownika
                <strong>{{ $ctrl.tokenInfo.cloudUsername }}</strong></p>
            <div ng-if="$ctrl.tokenInfo.username">
                <p>Posiadasz już konto w SUPLA Scripts:</p>
                <h3 class="text-center no-margin-top">{{ $ctrl.tokenInfo.username }}</h3>
                <p>Ponieważ logujesz się ponownie za pomocą prywatnego tokena dostępu, możesz ustalić nowe hasło do swojego konta.</p>
                <div class="form-group">
                    <input type="password" placeholder="Podaj nowe hasło do konta, jeśli chcesz je zmienić" class="form-control"
                           ng-model="$ctrl.userData.newPassword">
                </div>
            </div>
            <div ng-else-if="$ctrl.tokenInfo.userId">
                <p>Posiadasz już konto w SUPLA Scripts, ale do tej pory zawsze logowałeś się za pomocą SUPLI.</p>
                <p>Jeśli chcesz logować się do skryptów osobnym loginem i hasłem - możesz to zrobić wypełniając poniższy formularz.</p>
                <p>Logowanie z SUPLĄ będzie działać nadal.</p>
            </div>
            <div ng-else>
                <p>Nie posiadasz jeszcze konta w SUPLA Scripts.</p>
                <p>Aby nie podawać za każdym razem tokena dostępu, ustal swoją nazwę użytkownika i hasło dla konta w SUPLA Scripts.</p>
            </div>
            <div ng-if="!$ctrl.tokenInfo.username">
                <div class="form-group label-floating"
                     show-errors>
                    <label class="control-label">Nazwa użytkownika</label>
                    <input type="text"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="off"
                           spellcheck="false"
                           class="form-control"
                           ng-model="$ctrl.userData.username"
                           required
                           name="username">
                </div>
                <div class="form-group label-floating"
                     show-errors>
                    <label class="control-label">Hasło</label>
                    <input type="password"
                           ng-model="$ctrl.userData.password"
                           required
                           name="password"
                           class="form-control">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-raised btn-lg check-issue-button">
                    <fa name="sign-in"
                        fw></fa>
                    Zaloguj
                </button>
            </div>
        </div>
    </form>

    <!--NTBiNjliYjgxMGQ4MTZkMjIzYzdmZTMyY2U5ZGUzMGM0MzBhMWI4OTFkYTYyNzg1MGY3Nzc3NmJiOWQwNWFhOA.aHR0cHM6Ly9jb3B5LXN2cjMuc3VwbGEub3Jn-->
</div>
