<div class="login-form-container">
    <div class="login-form">
        <div class="panel panel-primary" ng-if="$ctrl.mode">
            <div class="panel-heading">
                <span class="badge pull-right version">v{{ $ctrl.version }}</span>
                <h4>SUPLA Scripts</h4>
                <view-title>Logowanie</view-title>
            </div>
            <div class="panel-body"
                 ng-if="($ctrl.mode == 'oauth' && $root.APP_CONFIG.oAuthClientId) || $ctrl.mode == 'password' || $ctrl.mode == 'token'">
                <login-with-supla ng-if="$ctrl.mode == 'oauth'"></login-with-supla>
                <login-form ng-else-if="$ctrl.mode == 'password'"></login-form>
                <login-with-token ng-else></login-with-token>
                <div class="text-center form-group">
                    <a ng-click="$ctrl.changeMode('choose')">Inne metody logowania</a>
                </div>
                <div class="text-center">
                    Logując się, oświadczasz, że akceptujesz <a href="/regulamin_supla_scripts.pdf" target="_blank">regulamin</a>.
                </div>
            </div>
            <div class="panel-body" ng-else>
                <h4>Wybierz metodę logowania</h4>
                <div class="list-group">
                    <a ng-click="$ctrl.changeMode('oauth')" class="list-group-item" ng-class="!$root.APP_CONFIG.oAuthClientId ? 'disabled' : ''">
                        <strong>Zaloguj się kontem w SUPLA Cloud</strong>
                        <p>SUPLA Scripts przekieruje Cię do SUPLA Cloud. Zalogujesz się tam na swoje konto, po czym zostaniesz poproszony o
                            autoryzację. Wymagane jest posiadanie konta na cloud.supla.org lub zarejsetrowanie swojej instancji SUPLA Cloud.</p>
                        <p ng-if="!$root.APP_CONFIG.oAuthClientId" class="text-danger">Instancja skryptów nie posiada konfiguracji OAuth.</p>
                    </a>
                    <a ng-click="$ctrl.changeMode('password')" class="list-group-item">
                        <strong>Zaloguj się loginem i hasłem do SUPLA Scripts</strong>
                        <p>Jeśli miałeś już wcześniej konto w SUPLA Scripts lub powiązałeś już konto przy użyciu prywatnego tokena.</p>
                    </a>
                    <a ng-click="$ctrl.changeMode('token')" class="list-group-item">
                        <strong>Powiąż swoje konto z prywatnym, niezarejestrowanym SUPLA Cloud</strong>
                        <p>Jeśli nie logowałeś się jeszcze w SUPLA Scripts, a chcesz zintegrować niezarejestrowaną Twoją instancję SUPLA Cloud.</p>
                    </a>
                </div>
            </div>
        </div>
        <loader-dots ng-else></loader-dots>
    </div>
</div>
