<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info" ng-if="$ctrl.thermostats.length === 0">
                <fa name="info-circle" fw class="pull-right" size="2"></fa>
                <p>Nie masz jeszcze żadnych termostatów. Dodaj nowy za pomocą formularza poniżej.</p>
            </div>

            <loader-dots ng-if="!$ctrl.thermostats"></loader-dots>

            <div ng-else>
                <h1>Twoje termostaty</h1>
                <div class="list-group">
                    <div ng-repeat="thermostat in $ctrl.thermostats"
                         class="list-group-item"
                         go-to-link-on-row-click>
                        <h4>
                            <a ui-sref="thermostat.preview(thermostat)">{{ thermostat.label }}</a>
                            <div class="btn-group pull-right btn-group-xs">
                                <button class="btn btn-danger"
                                        ng-if="!thermostat.enabled"
                                        promise-btn
                                        ng-click="$ctrl.deleteThermostat(thermostat)">
                                    Usuń
                                </button>
                                <button class="btn btn-default"
                                        ng-if="thermostat.enabled"
                                        promise-btn
                                        ng-click="$ctrl.disableThermostat(thermostat)">
                                    Dezaktywuj
                                </button>
                                <button class="btn btn-default"
                                        ng-if="!thermostat.enabled"
                                        promise-btn
                                        ng-click="$ctrl.enableThermostat(thermostat)">
                                    Aktywuj
                                </button>
                            </div>
                        </h4>
                    </div>
                </div>
                <form ng-submit="newThermostatForm.$valid && $ctrl.createNew()" name="newThermostatForm" promise-btn>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="form-group">
                                <span class="input-group">
                                    <input type="text" class="form-control" placeholder="Nazwa nowego termostatu"
                                           ng-model="$ctrl.newLabel">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">
                                            <fa name="plus-circle" fw></fa>
                                            Dodaj
                                        </button>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>
