<h4>{{ $ctrl.profile.id ? 'Edytuj' : 'Dodaj' }} profil</h4>
<form name="profileForm"
      novalidate
      promise-btn
      ng-submit="$broadcast('show-errors-check-validity') && profileForm.$valid && $ctrl.onSubmit({savedProfile: $ctrl.profile})">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" show-errors>
                <label class="control-label">Nazwa profilu</label>
                <input type="text" class="form-control" required name="name" ng-model="$ctrl.profile.name">
            </div>
        </div>
        <div class="col-md-8">
            <div class="list-group">
                <div class="list-group-item" ng-repeat="room in $ctrl.rooms">
                    <h3>{{ room.name }}</h3>
                    <h4>
                        Teraz:
                        <span ng-repeat="channelId in room.thermometers">
                            <channel-state-temperature channel-id="channelId"
                                                       ng-if="$ctrl.thermostat.target == 'temperature'"></channel-state-temperature>
                            <channel-state-humidity channel-id="channelId" ng-else></channel-state-humidity>
                        </span>
                    </h4>
                    <div ng-if="room.heaters.length">
                        <h5>{{ $ctrl.thermostat | byThermostatTarget:'Ogrzewanie':'Nawilżanie' }}</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Od</label>
                                    <span class="input-group">
                                        <input type="number" class="form-control"
                                               ng-model="$ctrl.profile.roomsConfig[room.id].heatFrom"
                                               step="0.1">
                                        <span class="input-group-addon">{{ $ctrl.thermostat|byThermostatTarget:'&deg;C':'%' }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Do</label>
                                    <span class="input-group">
                                        <input type="number" class="form-control"
                                               ng-model="$ctrl.profile.roomsConfig[room.id].heatTo"
                                               step="0.1">
                                        <span class="input-group-addon">{{ $ctrl.thermostat|byThermostatTarget:'&deg;C':'%' }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="room.coolers.length">
                        <h5>{{ $ctrl.thermostat | byThermostatTarget:'Schładzanie':'Osuszanie' }}</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Od</label>
                                    <span class="input-group">
                                        <input type="number" class="form-control"
                                               ng-model="$ctrl.profile.roomsConfig[room.id].coolFrom"
                                               step="0.1">
                                        <span class="input-group-addon">{{ $ctrl.thermostat|byThermostatTarget:'&deg;C':'%' }}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Do</label>
                                    <span class="input-group">
                                        <input type="number" class="form-control"
                                               ng-model="$ctrl.profile.roomsConfig[room.id].coolTo"
                                               step="0.1">
                                        <span class="input-group-addon">{{ $ctrl.thermostat|byThermostatTarget:'&deg;C':'%' }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label>Czasowa aktywacja profilu</label>
            <div class="list-group">
                <div class="list-group-item" ng-repeat="timeSlot in $ctrl.profile.activeOn">
                    <div class="row">
                        <div class="col-md-6">
                            <time-range-picker ng-model="timeSlot.timeRange"></time-range-picker>
                        </div>
                        <div class="col-md-6">
                            <a ng-click="$ctrl.removeTimeSlot(timeSlot)" class="floating-delete-btn">
                                <fa name="times-circle-o"></fa>
                            </a>
                            <weekday-picker ng-model="timeSlot.weekdays"></weekday-picker>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-default" ng-click="$ctrl.profile.activeOn.push({})">
                <fa name="clock-o" fw></fa>
                Dodaj warunek
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <button type="button" class="btn btn-default" ng-click="$ctrl.onCancel()">
                <fa name="times" fw></fa>
                Anuluj
            </button>
            <button type="submit" class="btn btn-primary">
                <fa name="{{ $ctrl.profile.id ? 'save' : 'plus' }}" fw></fa>
                {{ $ctrl.profile.id ? 'Zapisz' : 'Dodaj' }} profil
            </button>
        </div>
    </div>
</form>

