<div class="btn-group btn-group-sm pull-right">
    <button class="btn btn-default" ng-click="$ctrl.onEdit()">
        <fa name="edit" fw></fa>
        Edytuj
    </button>
    <button class="btn btn-danger" ng-click="$ctrl.onDelete()" promise-btn>
        <fa name="trash" fw></fa>
        Usuń
    </button>
</div>
<h4>{{ $ctrl.profile.name }}</h4>
<div class="row">
    <div class="col-sm-4">
        <h6>Aktywny</h6>
        <ul ng-if="$ctrl.profile.activeOn.length > 0">
            <li ng-repeat="timeSpan in $ctrl.profile.activeOn">
                <span ng-if="!timeSpan.weekdays.length || timeSpan.weekdays.length == 7">Codziennie</span>
                <span ng-else>
                    W
                    <span ng-repeat="weekday in timeSpan.weekdays">
                        <span>{{ weekday | weekdayShort }}</span><span ng-if="!$last">,</span>
                    </span>
                </span>
                między {{ timeSpan.timeRange.timeStart }}
                a {{ timeSpan.timeRange.timeEnd }}
            </li>
        </ul>
        <div ng-else>Profil nie jest aktywowany automatycznie</div>
    </div>
    <div class="col-sm-8">
        <table class="table">
            <thead>
            <tr>
                <th>Pomieszczenie</th>
                <th>Ogrzewanie</th>
                <th>Chłodzenie</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="room in $ctrl.rooms">
                <td>
                    {{ room.name }}
                    (<span ng-repeat="channelId in room.thermometers">
                        <channel-state-temperature channel-id="channelId"></channel-state-temperature><span
                        ng-if="!$last">,</span>
                    </span>)
                </td>
                <td>
                    <span ng-if="$ctrl.profile.roomsConfig[room.id].heatFrom">
                        {{ $ctrl.profile.roomsConfig[room.id].heatFrom | number:1 }}&deg;C
                        <fa name="caret-right" fw class="text-danger"></fa>
                        {{ $ctrl.profile.roomsConfig[room.id].heatTo | number:1 }}&deg;C
                    </span>
                    <span ng-else>-</span>
                </td>
                <td>
                    <span ng-if="$ctrl.profile.roomsConfig[room.id].coolFrom">
                        {{ $ctrl.profile.roomsConfig[room.id].coolFrom | number:1 }}&deg;C
                        <fa name="caret-right" fw class="text-info"></fa>
                        {{ $ctrl.profile.roomsConfig[room.id].coolTo | number:1 }}&deg;C
                    </span>
                    <span ng-else>-</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
