<div class="container">
    <h1 view-title>Sceny</h1>

    <div class="row" ng-if="$ctrl.scenes">
        <div ng-if="$ctrl.scenes.length !== 0" class="col-sm-3">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="scene in $ctrl.scenes"
                   ui-sref="scenes.details({id: scene.id})" ui-sref-active="active">
                    <div class="pull-right">
                        <fa name="cog" ng-if="scene.actions" fw tooltips tooltip-template="Wykonuje akcje"></fa>
                        <fa name="volume-up" ng-if="scene.feedback" fw tooltips tooltip-template="Zawiera odpowiedź"></fa>
                        <fa name="bullhorn" ng-if="scene.voiceTriggers.length > 0" fw tooltips tooltip-template="Dostępna przez komendy głosowe"></fa>
                        <fa name="globe" ng-if="scene.slug" fw tooltips tooltip-template="Dostępna przez publiczny URL"></fa>
                    </div>
                    <div>{{ scene.label }}</div>
                    <scene-caption class="text-muted small" scene="scene"></scene-caption>
                </a>
            </div>
        </div>

        <div class="col-sm-9 col-12-if-alone">
            <div ng-if="'scenes' | isState">
                <div class="well text-center" ng-if="!$ctrl.addingScene">
                    <button type="button" class="btn btn-lg btn-primary" ng-click="$ctrl.addingScene = true">
                        <fa name="plus" fw></fa>
                        Dodaj scenę
                    </button>
                </div>
                <scene-form ng-else on-submit="$ctrl.addNewScene(savedScene)" on-cancel="$ctrl.addingScene = false"></scene-form>
            </div>
            <div ui-view></div>
        </div>
    </div>

    <loader-dots ng-else></loader-dots>
</div>

