<div class="container">
    <h1 view-title>Sceny</h1>

    <div class="row" ng-if="$ctrl.sceneGroups && $ctrl.scenes">
        <div ng-if="$ctrl.scenes.length !== 0" class="col-sm-3 scenes-links">
            <div dnd-list="$ctrl.sceneGroups"
                 dnd-allowed-types="['sceneGroup']">
                <div class="panel panel-default"
                     ng-repeat="sceneGroup in $ctrl.sceneGroups"
                     dnd-type="'sceneGroup'"
                     dnd-draggable="sceneGroup"
                     dnd-moved="$ctrl.sceneOrderChanged($ctrl.sceneGroups, $index)"
                     dnd-effect-allowed="move">
                    <div class="panel-heading" ng-if="sceneGroup.id !== 'default'">
                        <span class="badge pull-right">{{ sceneGroup.scenes.length || 0 }}</span>
                        <a class="btn-block"
                           ng-click="$ctrl.toggleSceneGroup(sceneGroup)"
                           ng-dblclick="$ctrl.editSceneGroupName(sceneGroup)">{{ sceneGroup.label }}</a>
                    </div>
                    <div class="list-group" dnd-list="sceneGroup.scenes" dnd-allowed-types="['scene']" ng-show="!sceneGroup.collapsed">
                        <a class="list-group-item"
                           ng-repeat="scene in sceneGroup.scenes"
                           ui-sref="scenes.details({id: scene.id})" ui-sref-active="active"
                           dnd-type="'scene'"
                           dnd-draggable="scene"
                           dnd-moved="$ctrl.sceneOrderChanged(sceneGroup.scenes, $index)"
                           dnd-effect-allowed="move">
                            <div class="pull-right">
                                <fa name="flash" ng-if="scene.trigger" fw tooltips tooltip-template="Reaguje na zmiany stanu"></fa>
                                <fa name="clock-o" ng-if="scene.intervals" fw tooltips tooltip-template="Wykonuje się cyklicznie"></fa>
                                <fa name="question" ng-if="scene.condition" fw tooltips tooltip-template="Posiada warunek"></fa>
                                <fa name="cog" ng-if="scene | hasActions" fw tooltips tooltip-template="Wykonuje akcje"></fa>
                                <fa name="volume-up" ng-if="scene.feedback" fw tooltips tooltip-template="Zawiera odpowiedź"></fa>
                                <fa name="bullhorn" ng-if="scene.voiceTriggers.length > 0" fw tooltips
                                    tooltip-template="Dostępna przez komendy głosowe"></fa>
                                <fa name="hand-pointer-o" ng-if="scene.actionTriggers.length > 0" fw tooltips
                                    tooltip-template="Wyzwalana wyzwalaczem akcji"></fa>
                                <fa name="globe" ng-if="scene.slug" fw tooltips tooltip-template="Dostępna przez publiczny URL"></fa>
                                <fa name="bell-o" ng-if="scene.notifications" fw tooltips tooltip-template="Wysyła powiadomienia"></fa>
                                <fa name="ban" ng-if="!scene.enabled" fw tooltips tooltip-template="Scena wyłączona" class="text-danger"></fa>
                            </div>
                            <div>{{ scene.label }}</div>
                            <scene-caption class="text-muted small" scene="scene"></scene-caption>
                        </a>
                        <a class="list-group-item list-group-item-danger text-center"
                           ng-click="$ctrl.removeEmptyGroup(sceneGroup)"
                           ng-if="sceneGroup.id !== 'default' && sceneGroup.scenes.length === 0">
                            Usuń pustą grupę
                        </a>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-default btn-block btn-xs" ng-click="$ctrl.addNewSceneGroup()">
                <fa name="plus" fw></fa>
                Dodaj grupę scen
            </button>
        </div>

        <div class="col-sm-9 col-12-if-alone">
            <div ng-if="'scenes' | isState">
                <div class="well text-center" ng-if="!$ctrl.addingScene">
                    <button type="button" class="btn btn-lg btn-primary" ng-click="$ctrl.addingScene = true">
                        <fa name="plus" fw></fa>
                        Dodaj scenę
                    </button>
                </div>
                <scene-form ng-else on-submit="$ctrl.addNewScene(savedScene)" on-cancel="$ctrl.addingScene = false"></scene-form>
            </div>
            <div ui-view></div>
        </div>
    </div>

    <loader-dots ng-else></loader-dots>
</div>

