<div class="btn-group btn-group-xs">
    <button class="btn btn-default btn-check-state" ng-click="$ctrl.onAction({action: 'getChannelState'})" type="button"
            promise-btn>
        <fa name="question-circle"></fa>
    </button>
    <button ng-repeat="operation in $ctrl.CHANNEL_AVAILABLE_ACTIONS[$ctrl.channel.function.name]"
            ng-if="!operation.noButton"
            type="button" class="btn btn-default"
            ng-click="$ctrl.onAction({action: operation.action})" ng-disabled="operation.isActive($ctrl.channel)"
            promise-btn>
        {{ operation.label | ucfirst }}
    </button>
    <div class="btn-group btn-group-xs" ng-if="['FNC_DIMMERANDRGBLIGHTING'].indexOf($ctrl.channel.function.name) >= 0">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Ustaw kolor
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu rgb-color-picker">
            <li ng-repeat="color in ['ffffff', 'ffff00', 'ff0000', 'ff8800', 'ff00ff', '0000ff', '00ffff', '00ff00']">
                <a class="rgb-color-pick" ng-style="{'background-color': '#' + color}"
                   ng-click="$ctrl.onAction({action: 'setRgb,' + color + ',100,100'})"></a>
            </li>
        </ul>
    </div>
</div>
