<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <view-title>Kokpit</view-title>
            <div ng-if="$ctrl.devices || $ctrl.scenes">
                <div class="form-group scene-buttons" ng-if="$ctrl.scenes">
                    <button ng-repeat="scene in $ctrl.scenes"
                            class="btn btn-info btn-break" ng-click="scene.executeWithFeedback()" promise-btn>
                        <fa fw></fa>
                        {{ scene.label | uppercase }}
                        <div class="small text-muted">
                            <scene-caption scene="scene"></scene-caption>
                        </div>
                    </button>
                </div>
                <div class="flexible-grid" ng-if="$ctrl.devices">
                    <div ng-repeat="device in $ctrl.devices">
                        <div class="well">
                            <h4>
                                <span class="badge pull-right">ID {{ device.id }}</span>
                                {{ device | deviceLabel }}
                            </h4>
                            <div class="list-group">
                                <div class="list-group-item dashboard-channel clearfix"
                                     ng-class="{
                                        'is-on': channel.state.on,
                                        'is-off': channel.state.on === false,
                                        'is-closed': channel.state.hi,
                                        'is-opened': channel.state.hi === false,
                                     }"
                                     ng-repeat="channel in device.channels"
                                     ng-hide="!channel.function.id">
                                    <channel-brief channel="channel"
                                                   on-action="$ctrl.executeChannelAction(channel, action)"></channel-brief>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <loader-dots ng-else></loader-dots>
        </div>
    </div>
</div>
