<view-title>Szczegóły konta</view-title>
<dl>
    <dt>Data utworzenia konta</dt>
    <dd>{{ $ctrl.user.createdAt | date:'short' }}</dd>
    <dt>Ostatnie logowanie</dt>
    <dd>{{ $ctrl.user.lastLoginDate | date:'short' }}</dd>
    <dt>Strefa czasowa</dt>
    <dd>
        {{ $ctrl.user.timezone }}
        <div class="small text-muted">
            (jeśli jest niepoprawna - zmień ją w SUPLA Cloud i zaloguj się ponownie do SUPLA Scripts lub zmień ustawienie używając karty obok)
        </div>
    </dd>
    <dt>Nazwa użytkownika w SUPLA Scripts</dt>
    <dd ng-if="$ctrl.user.username">{{ $ctrl.user.username }}</dd>
    <dd ng-else><em>brak</em></dd>
    <dt>Identyfikator użytkownika</dt>
    <dd>{{ $ctrl.user.id }}</dd>
    <dt>Identyfikator użytkownika w SUPLA</dt>
    <dd>{{ $ctrl.user.shortUniqueId }}</dd>
</dl>
<dl ng-if="$ctrl.user.webhookToken">
    <dt>Access Token dla webhooków</dt>
    <dd><code>{{ $ctrl.user.webhookToken }}</code></dd>
    <dt>Refresh Token dla webhooków</dt>
    <dd><code>{{ $ctrl.user.webhookRefreshToken }}</code></dd>
</dl>
