<div class="container">
    <h1 view-title>Powiadomienia</h1>

    <div class="alert alert-danger">
        <fa name="exclamation-triangle" fw class="pull-right" size="2"></fa>
        <strong><big>Te powiadomienia niedługo przestaną działać.</big></strong>
        Skonfiguruj swoje powiadomienia w oparciu o serwis <a ui-sref="account.pushover">Pushover</a>
        i sceny, które teraz mogą na koniec wykonania wysłać powiadomienie. Wsparcie dla powiadomień w oparciu o Automat
        wkrótce zostanie usunięte.
    </div>

    <div class="row" ng-if="$ctrl.notifications">
        <div ng-if="$ctrl.notifications.length !== 0" class="col-sm-3">
            <div class="list-group">
                <a class="list-group-item" ng-repeat="notification in $ctrl.notifications"
                   ui-sref="notifications.details({id: notification.id})" ui-sref-active="active">
                    <div>{{ notification.label }}</div>
                </a>
            </div>
        </div>

        <div class="col-sm-9 col-12-if-alone">
            <div ng-if="'notifications' | isState">
                <div class="well text-center" ng-if="!$ctrl.addingNotification">
                    <button type="button" class="btn btn-lg btn-primary" ng-click="$ctrl.addingNotification = true">
                        <fa name="plus" fw></fa>
                        Dodaj powiadomienie
                    </button>
                </div>
                <notification-form ng-else on-submit="$ctrl.addNewNotification(savedNotification)"
                                   on-cancel="$ctrl.addingNotification = false"></notification-form>
            </div>
            <div ui-view></div>
        </div>
    </div>

    <loader-dots ng-else></loader-dots>
</div>

